{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CoxDari Mistery</title>
    <link rel="stylesheet" href="{% static 'juegos/estilos.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la aventura de aprender a programar..o no?</h1>
        <p>¡Aprende jugando!</p>
        <a href="{% url 'registro' %}" class="btn btn-green">Registrarse</a>
        <a href="{% url 'login' %}" class="btn btn-blue">Iniciar sesión</a>
    </div>
</body>
</html>